html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.input, .title{
    display: flex;
    text-align: center;
    justify-content: center;
}

.title{
    padding: 20px;
    font-size: 50px;
    margin: 0;
}

.input{
    padding-top: 10px;
}